@model IEnumerable<MobileBD.Models.MobileBrand>

<div  >
    <div class="rounded" style=" background-color: #001131">
        <h4 class=" text-center" style="color: #FDA66D">Brands</h4>
    </div>
    <div id="row" class="row">

        @foreach (var item in Model)
        {
            <div id="link" class="col-md-4 d-flex justify-content-center">
                <a class="text-muted card-link" href="@Url.Action("ProductsByMobileBrandId","Product",new { id=item.MobileBrandID})">
                    <p style="font-size:11px;">@item.MobileBrandName</p>

                </a>
            </div>
        }
    </div>
</div>
